
.container {
	position: relative;
	display: ;
	width: 100%;
	/*height: 450px;*/
	margin-top: 0px;
	/*background-color: #e2e2e2;*/
	box-sizing: border-box;
	/*border: solid 2px lime;*/
	padding: 0 16px;
	margin-bottom: 40px;
}

.entryWrapper {
}

.lineContainer {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	/*background-color: rgba(0,255,0,0.3);*/
}

.dotContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.axisContainer {
	position: absolute;
	top: 100%;
}