.dot {
	width: 20px;
	height: 20px;
	background-color: lightblue;
	border-radius: 100%;
	border: solid 1px #000;
	position: absolute;
	top: 100%;
	left: 0px;
	shape-rendering: geometricPrecision;
	z-index: 1
}

.dot:hover {
	z-index: 2;
}

.default {
	background-color: #fff;
}
.increase {
	background-color: red;
}
.decrease {
	background-color: green;
}