.line {
  position: absolute;
  stroke: rgba(0,0,0,0.1);
  stroke-width: 2px;
  z-index: 0;
}

.gridLine {
  composes: line;
}

.tick {
  composes: line;
}

.tickLabel {
  position: absolute;
  font-family: 'Arial', sans-serif;
  fill: #666;
  font-size: 16px;
  stroke-width: 1px;
  text-align: right;
  transform: translateY(8px);
}

.axis {
  position: absolute;
  fill: #000;
}

svg {
  overflow: visible
}