.svgLineWrapper {
	position: absolute;
	height:100%;
	width:100%;
	top: 100%;
	overflow: visible;
}

svg .svgLine {
	stroke: rgba(0,0,0, 0.4);
	stroke-width: 4;
	stroke-linecap: round;
	shape-rendering: geometricPrecision;
}

[data-hover="true"] .svgLine {
	stroke: rgba(0,0,0, 1);
	stroke-width: 8;
	z-index: 99
}